


.letter{
    font-size: 8vw;
    margin: 0.6vw
}

#guess_input{
    justify-content: center;
    text-align: center;
}
#Guess_Field{

    justify-content: center;
    text-align: center;
    margin-bottom: 7vw;
}
#myInput{
    width: 8vw;
    justify-content: center;
}
#guess_button{
    width: 5vw;


}
#hangman{
    width: 15vw;
    justify-content: center;

}
#wrong_guesses{
    font-size: 2vw;
}
#error{
    font-size: 2vw;

}

@media screen and (max-width: 800px) {

    #Guess_Field{
        text-align: center;
        margin-left: 20vw;
    }

    .letter{
        margin-right: 1vw;
        font-size: 10vw;
        text-align: center;
        position: relative;

        width: 10vw;
    }

    #guess_input{
        justify-content: center;
        text-align: center;
    }
    #Guess_Field{
        width: 10vw;
        justify-content: center;
        text-align: center;
    }
    #myInput{
        width: 8vw;
        justify-content: center;
    }
    #guess_button{
        width: 20vw;
    }
    #hangman{
        width: 40vw;
        justify-content: center;

    }
    #wrong_guesses{
        font-size: 7vw;
    }
    #error{
        font-size: 6vw;


    }

}
#end_screen{
    display: none;
}

#word_reveal{
    font-size: 5vw;
    text-align: center;
}

.centered{
    text-align: center;
    justify-content: center;
}

.top_margin{
    margin-top: 20vw;
}

#lose_screen{
    color: red;
    display: none;
    font-size: 5vw;
    -webkit-text-stroke: 2px black;
}

#lose_screen>section>img{
    width: 10vw;
}

#end_butt{
    display: none;
    text-align: center;
    align-content: center;
}

#game_over_reveal{
    text-align: center;
    font-size: 5vw;
    margin: 1vw;
}